*{
    box-sizing: border-box;
    margin: 0px;
    border: 0px;
}

.cont-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100vh;

    background-image: url('./assets/images/background-inicio.jpg');
    background-size: 100%;
}

.cont-info-page{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 76%;
    height: 12rem;
}

.cont-text-logo{
    width: 25rem;
    height: 8rem;
}

.text-logo{
    font-family: 'Palanquin';
    font-size: 52px;
    font-weight: 400;
    height: 5rem;
    color: #5B1CE1;
    pointer-events: none;
}

.phrase-logo{
    font-family: 'Palanquin';
    font-size: 25px;
    font-weight: 500;
    height: 3rem;
    color: #5B1CE1;
    pointer-events: none;
}

.cont-acess-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 9rem;
}

.link-acess-page{
    width: 3rem;
    height: 3rem;

    background-color: transparent;
    background-image: url('./assets/images/logo-acess.svg');
    background-size: 100% 100%;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: -5px;
}

.phrase-acess{
    font-family: 'Palanquin';
    font-size: 23px;
    font-weight: 500;
    letter-spacing: -0.8px;
    color: #5B1CE1;
    transition: 0.3s;
    pointer-events: none;
}

.link-acess-page:hover{
    width: 3.1rem;
    height: 3.1rem;
    margin-bottom: -6px;

    background-image: url('./assets/images/logo-acess-on.svg');
}

.link-acess-page:hover + .phrase-acess{
    font-size: 24px;
    color: #4114A1;
    text-decoration: underline;
    pointer-events: all;
}